body{
    background-color: #3f586d;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    background-color: #2f4252;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50%);
    border-radius: 10px;
    width: 500px;
    height: 320px;
}
input{
    color: white;
    background-color: #3c6281;
    border: 2px solid #384957;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: center;
    transition: 0.2s;
}
input::placeholder{
    color:#ffffff8f;
}
input[type='submit']{
    width: 150px;
    height: 45px;
}
h1{
    transition: 0.2s;
}
input[id='field']:hover{
    width: 350px;
}
h1:hover{
    letter-spacing: 3px;
}